.version._3d /* version checker */
{
	color: #00001D;
	background-color: #DF4FF3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 894px;
	min-height: 1283px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 40px 187px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#u603
{
	z-index: 6;
	width: 881px;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 40px;
	position: relative;
}

#u603_img
{
	padding-right: 1px;
}

#u621-7
{
	z-index: 12;
	width: 676px;
	min-height: 45px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	font-weight: bold;
	margin-left: 13px;
	margin-top: 28px;
	position: relative;
}

#u621-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u621-3
{
	font-size: 12px;
	line-height: 14px;
}

#u613
{
	z-index: 10;
	width: 881px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 46px;
	position: relative;
}

#u608
{
	z-index: 8;
	width: 881px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 43px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

