.version.donera /* version checker */
{
	color: #0000ED;
	background-color: #94DD82;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 900px;
	min-height: 373px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 34px 187px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#pu275
{
	width: 0.01px;
	margin-left: 134px;
	margin-top: 25px;
}

#u275
{
	z-index: 26;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u281
{
	z-index: 28;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 476px;
}

#u281_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u268-18
{
	z-index: 6;
	width: 899px;
	min-height: 253px;
	background-color: transparent;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 1px;
	margin-top: 121px;
	position: relative;
}

#u268-2
{
	font-size: 36px;
	line-height: 43px;
}

#u268-4
{
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

#u268-5,#u268-7,#u268-8,#u268-10,#u268-11,#u268-16
{
	font-size: 12px;
	line-height: 14px;
}

#u269
{
	z-index: 24;
	width: 289px;
	background-color: transparent;
	margin-left: 315px;
	top: -768px;
	margin-bottom: -507px;
	position: relative;
}

#u269_img
{
	padding-bottom: 1px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

