.version.donera_eng /* version checker */
{
	color: #0000E4;
	background-color: #F36C26;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 900px;
	min-height: 373px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 34px 187px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#pu749
{
	width: 0.01px;
	margin-left: 134px;
	margin-top: 25px;
}

#u749
{
	z-index: 25;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u745
{
	z-index: 27;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 476px;
}

#u745_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u751-17
{
	z-index: 6;
	width: 899px;
	min-height: 253px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 121px;
	position: relative;
}

#u751-2
{
	font-size: 36px;
	line-height: 43px;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u751-7,#u751-9
{
	font-weight: bold;
}

#u751-4,#u751-5,#u751-10,#u751-11,#u751-13
{
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u747
{
	z-index: 23;
	width: 289px;
	background-color: transparent;
	margin-left: 315px;
	top: -768px;
	margin-bottom: -507px;
	position: relative;
}

#u747_img
{
	padding-bottom: 1px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

