.version.hangman_kopia /* version checker */
{
	color: #0000EF;
	background-color: #683BFE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 862px;
	min-height: 724px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 72px 746px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#u853-6
{
	z-index: 7;
	width: 766px;
	min-height: 94px;
	background-color: transparent;
	color: #4D4D4D;
	margin-left: 96px;
	margin-top: 176px;
	position: relative;
}

#u853-2
{
	font-size: 30px;
	line-height: 36px;
}

#u853-4
{
	font-size: 18px;
	line-height: 22px;
}

#u851
{
	z-index: 6;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 174px;
	margin-top: 106px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

