.version.hangman /* version checker */
{
	color: #0000F2;
	background-color: #42924B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 837px;
	min-height: 591px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 97px 879px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#u563
{
	z-index: 6;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 174px;
	margin-top: 44px;
	position: relative;
}

#u565-10
{
	z-index: 7;
	width: 766px;
	min-height: 94px;
	background-color: transparent;
	color: #4D4D4D;
	margin-left: 71px;
	margin-top: 31px;
	position: relative;
}

#u565-2
{
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u565-4,#u565-5,#u565-7
{
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u565-8
{
	font-size: 18px;
	line-height: 22px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

