.version.hem_english_kopia /* version checker */
{
	color: #000016;
	background-color: #4C58D4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 864px;
	min-height: 2425px;
	-pie-box-shadow: 6px 6px 8px #E8E8E8;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.09);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.09);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.09);
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 39px 48px 536px;
}

#pu964-10
{
	width: 0.01px;
	margin-left: 1px;
}

#u964-10
{
	z-index: 2;
	width: 723px;
	min-height: 307px;
	border-color: #BB0000;
	background-color: transparent;
	line-height: 72px;
	font-size: 60px;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1029-4
{
	z-index: 135;
	width: 70px;
	background-color: transparent;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 791px;
}

#pu962
{
	width: 0.01px;
	padding-bottom: 11px;
	margin-left: 321px;
	margin-top: 34px;
}

#u962
{
	z-index: 12;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u937
{
	z-index: 63;
	width: 78px;
	background-color: transparent;
	-webkit-transform: matrix(-0.9455,0.3256,-0.3256,-0.9455,85,41);
	-ms-transform: matrix(-0.9455,0.3256,-0.3256,-0.9455,85,41);
	-o-transform: matrix(-0.9455,0.3256,-0.3256,-0.9455,85,41);
	transform: matrix(-0.9455,0.3256,-0.3256,-0.9455,85,41);
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 181px;
}

#u935-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 218px;
}

#ppu967-5
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 178px;
}

#u967-5
{
	z-index: 36;
	width: 216px;
	min-height: 57px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
}

#u950
{
	z-index: 34;
	width: 139px;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 11px;
	position: relative;
}

#u950:hover
{
	background-color: #F5FFFF;
	margin: 11px 0px 0px 44px;
}

#pu976-5
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 119px;
	margin-left: 298px;
}

#u976-5
{
	z-index: 43;
	width: 219px;
	min-height: 24px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
}

#u976-2
{
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u968
{
	z-index: 41;
	width: 220px;
	background-color: transparent;
	margin-top: 42px;
	position: relative;
}

#u937_img,#u968_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu986-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 52px;
	margin-left: 585px;
}

#u986-5
{
	z-index: 50;
	width: 198px;
	min-height: 30px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
}

#u981
{
	z-index: 48;
	width: 227px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 60px;
	position: relative;
}

#pu975-5
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 65px;
}

#u975-5
{
	z-index: 27;
	width: 141px;
	min-height: 64px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u967-2,#u975-2
{
	font-size: 48px;
	text-align: left;
	line-height: 58px;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u972-5
{
	z-index: 57;
	width: 242px;
	min-height: 40px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 287px;
}

#u965-7
{
	z-index: 71;
	width: 203px;
	min-height: 24px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 585px;
}

#pu958
{
	width: 0.01px;
	margin-left: 24px;
}

#u958
{
	z-index: 32;
	width: 228px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u948
{
	z-index: 55;
	width: 155px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 330px;
}

#u973
{
	z-index: 69;
	width: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 585px;
}

#ppu945-7
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 51px;
}

#pu967-5,#pu945-7
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u945-7
{
	z-index: 78;
	width: 158px;
	min-height: 24px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
}

#u986-2,#u965-4,#u945-2,#u945-4
{
	font-size: 24px;
	text-align: left;
	line-height: 29px;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u979
{
	z-index: 85;
	width: 220px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 34px;
	position: relative;
}

#pu985-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 66px;
	margin-left: 284px;
}

#u985-5
{
	z-index: 87;
	width: 97px;
	min-height: 40px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
}

#u977
{
	z-index: 92;
	width: 240px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 70px;
	position: relative;
}

#pu936-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 48px;
	margin-left: 586px;
}

#u936-5
{
	z-index: 94;
	width: 163px;
	min-height: 72px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
}

#u943-4
{
	z-index: 99;
	width: 151px;
	min-height: 29px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-left: 36px;
	margin-top: 23px;
	position: relative;
}

#pu934-5
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 40px;
}

#u934-5
{
	z-index: 105;
	width: 142px;
	min-height: 40px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u988-7
{
	z-index: 110;
	width: 142px;
	min-height: 40px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 300px;
}

#u956-9
{
	z-index: 119;
	width: 142px;
	min-height: 40px;
	border-color: #4D4D4D;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 592px;
}

#u972-2,#u985-2,#u936-2,#u934-2,#u988-2,#u988-4,#u956-2,#u956-4,#u956-6
{
	font-size: 30px;
	text-align: left;
	line-height: 36px;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#pu970
{
	width: 0.01px;
	margin-left: 306px;
	margin-top: 25px;
}

#u970
{
	z-index: 117;
	width: 249px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u983
{
	z-index: 128;
	width: 128px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 353px;
}

#u933-5
{
	z-index: 130;
	width: 268px;
	min-height: 47px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #4D4D4D;
	margin-left: 288px;
	margin-top: 130px;
	position: relative;
}

#u954
{
	z-index: 62;
	width: 131px;
	min-height: 90px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 321px;
	top: -1869px;
	margin-bottom: -90px;
	position: relative;
}

#ppu987
{
	width: 0.01px;
	margin-top: -1716px;
}

#pu987
{
	width: 0.01px;
	margin-right: -10000px;
}

#u987
{
	z-index: 14;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u960
{
	z-index: 15;
	width: 275px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 28px;
	position: relative;
}

#u944
{
	z-index: 18;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u944:hover
{
	background-color: #7D7D7D;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	height: 365px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u939
{
	z-index: 16;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 28px;
	position: relative;
}

#u939:hover
{
	background-color: #7D7D7D;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	height: 365px;
	min-height: 0px;
	margin: 28px 0px 0px;
}

#u952
{
	z-index: 17;
	width: 275px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 63px;
	margin-top: 28px;
	position: relative;
}

#u960:hover,#u952:hover
{
	background-color: #7D7D7D;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	min-height: 0px;
	margin: 28px 0px 0px;
}

#u941
{
	z-index: 103;
	width: 235px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 19px;
}

#pu953
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: 90px -10000px -1px 293px;
}

#u953
{
	z-index: 19;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u932
{
	z-index: 20;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 1px;
	margin-top: 13px;
	position: relative;
}

#u932:hover
{
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	height: 365px;
	min-height: 0px;
	margin: 13px 0px 0px 1px;
}

#u957
{
	z-index: 21;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 13px;
	position: relative;
}

#u940
{
	z-index: 22;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 13px;
	position: relative;
}

#u957:hover,#u940:hover
{
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	height: 365px;
	min-height: 0px;
	margin: 13px 0px 0px;
}

#pu966
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 586px;
}

#u966
{
	z-index: 23;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u987:hover,#u953:hover,#u966:hover
{
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	height: 365px;
	min-height: 0px;
	margin: 0px;
}

#u947
{
	z-index: 24;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#u947:hover
{
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	height: 365px;
	min-height: 0px;
	margin: 19px 0px 0px 1px;
}

#u946
{
	z-index: 25;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 2px;
	margin-top: 19px;
	position: relative;
}

#u946:hover
{
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	height: 365px;
	min-height: 0px;
	margin: 19px 0px 0px 2px;
}

#u961
{
	z-index: 26;
	width: 275px;
	height: 365px;
	-pie-box-shadow: 6px 6px 8px #BCBCBC;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.26);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-top: 19px;
	position: relative;
}

#u961:hover
{
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 275px;
	height: 365px;
	min-height: 0px;
	margin: 19px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

