#u205-4
{
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #4D4D4D;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

