.version.namnl_st_7 /* version checker */
{
	color: #0000FE;
	background-color: #B48034;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 911px;
	min-height: 1040.8995142722413px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 23px 429.1004857277587px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#pu541-8
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 124px;
}

#u541-8
{
	z-index: 6;
	width: 298px;
	min-height: 385px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u541-2,#u541-3
{
	font-size: 30px;
	line-height: 36px;
	color: #4D4D4D;
}

#u541-5
{
	font-size: 18px;
	line-height: 22px;
	color: #4D4D4D;
}

#u550
{
	z-index: 18;
	width: 562px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 322px;
}

#pu545
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 51px;
}

#u545
{
	z-index: 16;
	width: 533px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u550_img,#u545_img
{
	padding-right: 1px;
}

#u542
{
	z-index: 14;
	width: 326px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 570px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

