.version.orbit_eng /* version checker */
{
	color: #00000C;
	background-color: #C898DB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 895px;
	min-height: 897px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 39px 573px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#u859-33
{
	z-index: 6;
	width: 882px;
	min-height: 287px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 55px;
	position: relative;
}

#u859-2
{
	font-size: 30px;
	line-height: 36px;
	color: #4D4D4D;
}

#u859-4,#u859-5,#u859-7,#u859-9,#u859-10,#u859-11,#u859-12,#u859-17,#u859-18,#u859-19,#u859-21,#u859-23,#u859-24,#u859-26,#u859-28
{
	font-size: 18px;
	line-height: 22px;
	color: #4D4D4D;
}

#pu857
{
	width: 0.01px;
	margin-left: 174px;
	margin-top: 33px;
}

#u857
{
	z-index: 39;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u856-3
{
	z-index: 40;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 307px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

