.version.roll_eng /* version checker */
{
	color: #0000E6;
	background-color: #8A3ADF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 1255px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 26px 215px 14px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
	margin-left: 12px;
}

#u915
{
	z-index: 18;
	width: 920px;
	background-color: transparent;
	margin-top: 95px;
	position: relative;
}

#u801-10
{
	z-index: 6;
	width: 898px;
	min-height: 135px;
	background-color: transparent;
	margin-left: 11px;
	margin-top: 99px;
	position: relative;
}

#u801-2
{
	font-size: 30px;
	line-height: 36px;
	color: #4D4D4D;
}

#u801-4,#u801-5,#u801-7
{
	font-size: 18px;
	line-height: 22px;
	color: #4D4D4D;
}

#u797
{
	z-index: 16;
	width: 513px;
	background-color: transparent;
	margin-left: 203px;
	margin-top: 14px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

