.version.roll_kopia /* version checker */
{
	color: #000019;
	background-color: #79011D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 1255px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 20px 215px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
	margin-left: 6px;
}

#u803
{
	z-index: 6;
	width: 920px;
	background-color: transparent;
	margin-top: 103px;
	position: relative;
}

#u803_img
{
	padding-right: 1px;
}

#u800-10
{
	z-index: 8;
	width: 898px;
	min-height: 135px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 91px;
	position: relative;
}

#u800-2
{
	font-size: 30px;
	line-height: 36px;
	color: #4D4D4D;
}

#u800-4,#u800-5,#u800-7
{
	font-size: 18px;
	line-height: 22px;
	color: #4D4D4D;
}

#u801
{
	z-index: 18;
	width: 513px;
	background-color: transparent;
	margin-left: 197px;
	margin-top: 14px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

