.version.segehj_lpen /* version checker */
{
	color: #0000E8;
	background-color: #9E9C44;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 899px;
	min-height: 1246px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 35px 224px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#pu522-14
{
	width: 0.01px;
	margin-left: 76px;
	margin-top: 78px;
}

#u522-14
{
	z-index: 10;
	width: 422px;
	min-height: 407px;
	background-color: transparent;
	color: #4D4D4D;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u522-2
{
	font-size: 30px;
	line-height: 36px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u522-4,#u522-5,#u522-7
{
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u522-8,#u522-9,#u522-11,#u522-12
{
	font-size: 18px;
	line-height: 22px;
}

#u503
{
	z-index: 6;
	width: 401px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 422px;
}

#u515
{
	z-index: 8;
	width: 510px;
	background-color: transparent;
	margin-left: 188px;
	margin-top: 63px;
	position: relative;
}

#u529
{
	z-index: 26;
	width: 369px;
	background-color: transparent;
	margin-left: 45px;
	margin-top: 57px;
	position: relative;
}

#u529_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u523
{
	z-index: 24;
	width: 389px;
	background-color: transparent;
	margin-left: 477px;
	top: -287px;
	margin-bottom: -287px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

