.version.segehj_lpen_eng /* version checker */
{
	color: #00001B;
	background-color: #78E3F8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 899px;
	min-height: 1284px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 35px 186px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#pu808-15
{
	width: 0.01px;
	margin-left: 76px;
	margin-top: 78px;
}

#u808-15
{
	z-index: 10;
	width: 422px;
	min-height: 407px;
	background-color: transparent;
	color: #4D4D4D;
	position: relative;
	margin-right: -10000px;
}

#u808-2
{
	font-size: 30px;
	line-height: 36px;
}

#u808-4,#u808-5,#u808-7,#u808-8,#u808-10,#u808-11,#u808-13
{
	font-size: 18px;
	line-height: 22px;
}

#u811
{
	z-index: 6;
	width: 401px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 422px;
}

#u813
{
	z-index: 8;
	width: 510px;
	background-color: transparent;
	margin-left: 199px;
	margin-top: 14px;
	position: relative;
}

#u815
{
	z-index: 27;
	width: 369px;
	background-color: transparent;
	margin-left: 34px;
	margin-top: 15px;
	position: relative;
}

#u815_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u809
{
	z-index: 25;
	width: 389px;
	background-color: transparent;
	margin-left: 470px;
	top: -158px;
	margin-bottom: -158px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

