.version.thesis_kopia /* version checker */
{
	color: #00001B;
	background-color: #925961;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 939px;
	min-height: 1204.7999999999993px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 4px 265.2000000000007px 17px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
	margin-left: 9px;
}

#u783-3
{
	z-index: 28;
	width: 12px;
	background-color: transparent;
	margin-left: 290px;
	margin-top: 68px;
	position: relative;
}

#ppu1032-4
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: -7px;
}

#pu1032-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1032-4
{
	z-index: 33;
	width: 166px;
	min-height: 94px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	color: #4D4D4D;
	margin-left: 144px;
	position: relative;
}

#u777
{
	z-index: 6;
	width: 454px;
	background-color: transparent;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u787-11
{
	z-index: 17;
	width: 356px;
	min-height: 348px;
	background-color: transparent;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
	letter-spacing: 1px;
	color: #4D4D4D;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 497px;
}

#u787-3
{
	font-size: 18px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u787
{
	font-size: 20px;
	line-height: 24px;
}

#u787-2
{
	line-height: 22px;
}

#u787-4,#u787-6,#u787-8
{
	font-size: 18px;
	line-height: 22px;
}

#u784-3
{
	z-index: 14;
	width: 10px;
	min-height: 7px;
	background-color: transparent;
	margin-left: 621px;
	margin-top: 29px;
	position: relative;
}

#pu775
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: -262px;
}

#u775
{
	z-index: 12;
	width: 374px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u779
{
	z-index: 10;
	width: 449px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
	left: 442px;
}

#pu785
{
	width: 0.01px;
}

#u785
{
	z-index: 31;
	width: 456px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u773
{
	z-index: 8;
	width: 456px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 483px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

