.version.thesis_kopia /* version checker */
{
	color: #000013;
	background-color: #F2853D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 930px;
	min-height: 1282.85px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 4px 187.1500000000001px 26px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
}

#u783-3
{
	z-index: 47;
	width: 12px;
	background-color: transparent;
	margin-left: 281px;
	margin-top: 68px;
	position: relative;
}

#ppu781-4
{
	width: 0.01px;
}

#pu781-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u781-4
{
	z-index: 43;
	width: 409px;
	min-height: 72px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #4D4D4D;
	margin-left: 34px;
	position: relative;
}

#u777
{
	z-index: 6;
	width: 454px;
	background-color: transparent;
	margin-top: 43px;
	position: relative;
}

#u787-5
{
	z-index: 17;
	width: 425px;
	min-height: 269px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #4D4D4D;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 488px;
}

#u787-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u787
{
	font-size: 18px;
	line-height: 22px;
}

#u787-2
{
	line-height: 17px;
}

#pu782-21
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 54px;
}

#u782-21
{
	z-index: 22;
	width: 451px;
	min-height: 405px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u782-2
{
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 1px;
	color: #4D4D4D;
}

#u782-11,#u782-16
{
	letter-spacing: 1px;
}

#u782-4,#u782-6,#u782-8,#u782-10,#u782-13,#u782-15,#u782-18
{
	letter-spacing: 1px;
	color: #4D4D4D;
}

#u784-3
{
	z-index: 14;
	width: 10px;
	min-height: 7px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 619px;
}

#u775
{
	z-index: 12;
	width: 374px;
	background-color: transparent;
	margin-left: 539px;
	top: -955px;
	margin-bottom: -320px;
	position: relative;
}

#u779
{
	z-index: 10;
	width: 449px;
	background-color: transparent;
	margin-left: 481px;
	top: -626px;
	margin-bottom: -171px;
	position: relative;
}

#u773
{
	z-index: 8;
	width: 456px;
	background-color: transparent;
	margin-left: 474px;
	top: -456px;
	margin-bottom: -88px;
	position: relative;
}

#u785
{
	z-index: 50;
	width: 456px;
	background-color: transparent;
	margin-left: 474px;
	top: -346px;
	margin-bottom: -342px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

