.version.thesis_eng /* version checker */
{
	color: #00001E;
	background-color: #BC9E56;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 922px;
	min-height: 1197px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 16px 273px 22px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
	margin-left: 4px;
}

#pu783
{
	width: 0.01px;
	margin-top: 112px;
}

#u783
{
	z-index: 6;
	width: 454px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u774-20
{
	z-index: 14;
	width: 455px;
	min-height: 573px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 467px;
}

#u774-2
{
	font-size: 30px;
	line-height: 36px;
	color: #4D4D4D;
}

#u775
{
	margin-top: -3px;
	margin-bottom: 3px;
}

#u776
{
	z-index: 27;
	width: 308px;
	background-color: transparent;
}

#u776_img
{
	vertical-align: bottom;
}

#u774-6,#u774-7,#u774-11,#u774-12,#u774-14,#u774-15,#u774-17
{
	font-size: 18px;
	line-height: 22px;
	color: #4D4D4D;
}

#u778-3
{
	z-index: 37;
	width: 10px;
	min-height: 7px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 630px;
	left: 636px;
}

#u781
{
	z-index: 12;
	width: 374px;
	background-color: transparent;
	margin-left: 40px;
	top: -356px;
	margin-bottom: -320px;
	position: relative;
}

#u779
{
	z-index: 10;
	width: 559px;
	background-color: transparent;
	margin-left: 183px;
	margin-top: 51px;
	position: relative;
}

#u772
{
	z-index: 8;
	width: 562px;
	background-color: transparent;
	margin-left: 183px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

