.version.thesis /* version checker */
{
	color: #0000E3;
	background-color: #625699;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 924px;
	min-height: 682px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F2F2F2;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 13px 187px 23px;
}

#u205-4
{
	z-index: 2;
	width: 70px;
	min-height: 23px;
	margin-left: 3px;
}

#ppu902-3
{
	width: 0.01px;
	margin-top: 83px;
}

#pu902-3
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u902-3
{
	z-index: 19;
	width: 5px;
	background-color: transparent;
	margin-left: 5px;
	position: relative;
}

#pu903-4
{
	width: 0.01px;
	margin-top: -9px;
}

#u903-4
{
	z-index: 22;
	width: 430px;
	min-height: 149px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #4D4D4D;
	position: relative;
	margin-right: -10000px;
}

#u904-4
{
	z-index: 26;
	width: 410px;
	min-height: 283px;
	background-color: transparent;
	color: #4D4D4D;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
}

#ppu334
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 443px;
}

#pu334
{
	width: 0.01px;
	margin-left: 14px;
}

#u334
{
	z-index: 6;
	width: 454px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u900-3
{
	z-index: 13;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 162px;
}

#u905-25
{
	z-index: 30;
	width: 481px;
	min-height: 599px;
	background-color: transparent;
	margin-top: 54px;
	position: relative;
}

#u905-3
{
	color: #4D4D4D;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u905
{
	font-size: 30px;
	line-height: 36px;
}

#u905-2
{
	line-height: 17px;
}

#u905-5,#u905-7,#u905-9,#u905-11,#u905-12,#u905-14,#u905-16,#u905-17,#u905-19
{
	color: #4D4D4D;
}

#u901-3
{
	z-index: 16;
	width: 5px;
	background-color: transparent;
	margin-left: 190px;
	margin-top: 607px;
	position: relative;
}

#u359-3
{
	z-index: 10;
	width: 10px;
	min-height: 7px;
	background-color: transparent;
	margin-left: 635px;
	margin-top: 356px;
	position: relative;
}

#u352
{
	z-index: 8;
	width: 374px;
	background-color: transparent;
	top: -1631px;
	margin-bottom: -320px;
	position: relative;
}

#u906
{
	z-index: 55;
	width: 383px;
	background-color: transparent;
	margin-left: 14px;
	top: -1273px;
	margin-bottom: -250px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

